@{
    ViewBag.Title = "Pagina Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-body">

        <div class="panel-heading">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET es un marco web gratuito para crear grandes sitios web y aplicaciones web que utilizan HTML, CSS y JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>
                    Empezando
                </h2>
                <p>
                    ASP.NET MVC le brinda una forma poderosa y basada en patrones para crear sitios web dinámicos que
                    permite una separación limpia de preocupaciones y le da control total sobre el marcado
                    para un desarrollo ágil y agradable.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>